@using Spg.MusicPalace.Application;
@model PagenatedList<Spg.MusicPalace.Dtos.AlbumDto>

<h3>All Albums</h3>

@if (Model is not null 
    && Model.Count > 0)
{
<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Artist</th>
            <th>Songs</th>
            <th>Links</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Spg.MusicPalace.Dtos.AlbumDto item in @Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Artistname</td>
                <td>@item.SongAmount</td>
                <td>
                    <a asp-controller="Albums" asp-action="Details" asp-route-id="@item.Guid">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

}
else
{
    <div class="alert alert-danger" role="alert">
        No data found!
    </div>
}