@model Spg.MusicPalace.Dtos.NewSongDto

<form method="post">
    <div asp-validation-summary="All"></div>
    <label asp-for="Title">Name:</label>
    <input asp-for="Title" type="text" />
    <br />    
    <label asp-for="Artist">Artist:</label>
    <select asp-for="Artist" asp-items="@ViewBag.artists">Artist</select>
    <br />    
    <label asp-for="Album">Album:</label>
    <select asp-for="Album" asp-items="@ViewBag.albums">Album</select>
    <br />    
    <label asp-for="Created">Created:</label>
    <input asp-for="Created" type="date"/>
    <hr />

    <button type="submit">Create</button>
</form>
<form method="get">    
    <button type="submit" asp-controller="Songs" asp-action="Index">Back</button>
</form>