@model Spg.MusicPalace.Dtos.SongDto

<h3>Delete @Model.Title?</h3>


<form method="post">
    <button type="submit" class="btn-danger" asp-controller="Songs" asp-action="Delete" asp-route-id="@Model.Guid">Yes</button>
</form>    
<a asp-controller="Songs" asp-action="Index">Back</a>

